<div class="game-container" *ngIf="teams && teams.length > 0">
  <div class="game-info-container">
    <p>Твоє ім'я: <span class="player-name">{{ playerName }}</span>. Команда: <span class="team-name">{{ getMyTeamName()
        }}</span></p>
    <p>Відгадує команда: <span class="team-name">{{ teams[currentTeamIndex].name }}</span></p>
    <p>Пояснює гравець:
      <span class="player-name">{{ teams[currentTeamIndex].players[currentPlayerIndex].name }}</span>
    </p>
    <div class="button-container">
      <button
        [class.blinking-button]="timer === timerDefaultValue && playerIdentifier === teams[currentTeamIndex].players[currentPlayerIndex].id && !timerRunning"
        [disabled]="timer !== timerDefaultValue || playerIdentifier !== teams[currentTeamIndex].players[currentPlayerIndex].id"
        (click)="startGame()">
        Старт
      </button>
    </div>
    <div class="timer-word-container">
      <div class="timer">
        <p class="timer">Таймер: {{ timer }} сек</p>
      </div>
      <div>
        <p>Слово для пояснення:</p>
        <p class="word">
          <span *ngIf="hasWordPermission; else noPermission">
            {{ currentWordValue }}
          </span>
          <ng-template #noPermission>
            Слухай і відгадуй!
          </ng-template>
        </p>
      </div>
    </div>
    <div class="button-container">
      <div class="action-buttons">
        <button class="square-button" (click)="correctGuess()" [disabled]="!timerRunning">Вірно</button>
        <button class="square-button red-button" (click)="skipWord()" [disabled]="!timerRunning">Пропустити
          слово</button>
      </div>
    </div>
    <p>Бали:</p>
    <ul>
      <li *ngFor="let team of teams">
        <button *ngIf="isAdmin()" (click)="decreaseScore(team)" class="red-button">-</button>
        <span class="team-name">{{ team.name }}</span>: {{ team.score }}
        <button *ngIf="isAdmin()" (click)="increaseScore(team)">+</button>
      </li>
    </ul>
  </div>
</div>