.timer-word-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer {
  font-size: 24px;
  color: #4caf50;
}

.word {
  font-size: 38px;
  background-color: #f5f5f5;
  border-radius: 5px;
  display: inline-block;
  color: #3498db;
}

ul {
  list-style: none;
  padding: 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.square-button {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: border 0.3s;
}

.square-button:hover {
  border: 5px solid rgba(52, 152, 219, 0.8);
}

.action-buttons {
  display: flex;
  gap: 30px;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.red-button {
  background-color: #e74c3c;
}

.red-button:hover {
  background-color: #861b0f;
}

.team-name {
  color: #ff00aa;
  font-style: italic;
}

.player-name {
  color: #5922c0;
  font-style: italic;
}