<div class="game-container">
  <div *ngIf="alertMessage" class="alert-popup">
    {{ alertMessage }}
  </div>
  <div class="input-identifier-group">
    <p>Ідентифікатор гри</p>
    <div class="input-with-button">
      <input type="text" [(ngModel)]="gameId" class="non-editable-input" readonly>
      <button class="copy-button" (click)="copyToClipboard()" title="Скопіювати">
        <i class="fa fa-copy"></i>
      </button>
    </div>
  </div>
  <h2>Валідація команд</h2>
  <div *ngFor="let team of teams; let i = index; trackBy: trackByIndex">
    <form (ngSubmit)="createOrUpdateTeam(i)">
      <label for="teamName{{i}}">Назва команди:</label>
      <input type="text" id="teamName{{i}}" name="teamName{{i}}" [(ngModel)]="team.name" required>
      <div *ngFor="let player of team.players; let j = index; trackBy: trackByIndex">
        <label for="player{{i + 1}}_{{j + 1}}">Ім'я гравця {{j + 1}}:</label>
        <input type="text" id="player{{i + 1}}_{{j + 1}}" name="player{{i + 1}}_{{j + 1}}"
          [(ngModel)]="team.players[j].name" class="non-editable-input">
      </div>
      <button type="submit">Зберегти команду</button>
    </form>
    <button type="button" *ngIf="teams.length > 2" (click)="removeTeam(i)">Видалити команду</button>
  </div>
  <button [class.blinking-button]="canStartGame" type="button" (click)="startGame()" [disabled]="!canStartGame">Почати
    гру</button>
</div>