h2 {
  color: #333;
}

.alert-popup {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: fadeOut 1s forwards;
  animation-delay: 1s;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

form {
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.copy-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: -40px;
}

.copy-button i {
  font-size: 16px;
  color: #4caf50;
}

.copy-button:hover i {
  color: #45a049;
}

.copy-message {
  color: green;
  font-size: 12px;
  margin-top: 5px;
}