h1 {
  color: #081070;
  font-size: 3em;
}

p {
  color: #000000;
  font-size: 1.5em;
  margin-bottom: 15px;
}

strong {
  color: #00085c;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/* Зменшення відступів між елементами */
.form-group {
  margin-bottom: 5px; /* Мінімальний відступ між блоками */
}

.form-group p,
.form-group input,
.form-group .error-message {
  margin: 2px 0; /* Мінімальний відступ між елементами всередині блоків */
}
