<div class="game-container">
  <div>
    <h1>Ласкаво просимо до гри в Аліас!</h1>
    <p>Гра в "Аліас" - це веселий спосіб провести час і розвинути свої словникові навички.</p>
    <p>"Аліас" - це словесна гра, де гравці по черзі намагаються пояснити своїм товаришам слова, не використовуючи самі
      слова, які потрібно вгадати.</p>
    <p>Гравці розділяються на команди, і кожна команда намагається вгадати слова, які описує один з їхніх членів.</p>
    <p><strong>Основні правила гри "Аліас":</strong></p>
    <ul>
      <li><strong>Команди:</strong> Гравці поділяються на команди. Кожна команда має своїх членів, які будуть по черзі
        описувати слова.</li>
      <li><strong>Опис слів:</strong> Гравець з команди описує слова. Він не може використовувати самі ці слова в описі
        чи спільнокореневі.</li>
      <li><strong>Обмежений час:</strong> Гравцям дається обмежений час, 1 хвилина.</li>
      <li><strong>Вгадування:</strong> Члени команди намагаються вгадати слова на підставі опису. Якщо вони правильно
        вгадують, команда отримує очки.</li>
    </ul>
    <div class="form-group">
      <p for="playerName">Ім'я гравця:</p>
      <input type="text" id="playerName" name="playerName" [(ngModel)]="playerName" required
        pattern="[a-zA-Zа-яА-ЯіїєґІЇЄҐ0-9]+" (input)="validatePlayerName()">
      <div *ngIf="playerNameInvalid" class="error-message">Ім'я гравця може містити лише букви та цифри англійського та
        українського алфавітів.</div>
    </div>
    <div class="form-group">
      <P for="gameIdentifier">Ідентифікатор гри:</P>
      <input type="text" id="gameIdentifier" [(ngModel)]="gameIdentifier" (input)="trimSpaces()">
      <div *ngIf="gameIdentifierInvalid" class="error-message">Ідентифікатор гри має бути валідним GUID.</div>
    </div>
    <button (click)="startGame()" [disabled]="!isFormValid()" [class.blinking-button]="isFormValid()">Розпочати
      гру</button>
  </div>
</div>