﻿body {
  background-image: url('assets/AliasBackGround.jpg');
  background-size: cover;
  /* Масштабування зображення, щоб воно покривало весь екран */
  background-repeat: no-repeat;
  /* Зображення не повторюється */
  background-attachment: fixed;
  /* Зображення залишається на місці при прокручуванні */
  background-position: center;
  /* Центрування зображення */
  font-family: 'Poppins', sans-serif;
  color: #000000;
  /* Колір тексту */
  margin: 0;
  /* Відсутність відступів */
  padding: 0;
  /* Відсутність полів */
}

@keyframes blink {
  0% {
    background-color: #00c853;
  }

  50% {
    background-color: #00796b;
  }

  100% {
    background-color: #00c853;
  }
}

.blinking-button {
  animation: blink 1s infinite;
}

.game-container {
  background-color: rgba(255, 255, 255, 0.95);
  /* Напівпрозорий білий фон для тексту */
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.error-message {
  color: red;
  font-size: 12px;
}

button {
  background-color: #00c853;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #00796b;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}


input {
  width: 70%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #333;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  text-align: center;
}

input:focus {
  border-color: #4caf50;
}

.input-identifier-group {
  margin-bottom: 10px;
}

.input-with-button {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.non-editable-input {
  pointer-events: none;
  background-color: #f0f0f0;
  flex: 1;
}